*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #FDF0D5;
    text-align: center;
    /* display: flex;
   
    justify-content: center;
    align-items: center; */
}
h1{
    color: rgb(54, 43, 25);
}
.container{
    height: 70vh;
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.50rem;
    border: none;
    box-shadow: 0 0 1rem rgb(112, 107, 93);
    font-size: 7vmin;
    color: rgb(65, 50, 29);
    background-color: rgb(216, 207, 165);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(73, 57, 18);
    color: blanchedalmond;
    border-radius: 1rem;
    border: none;
    
}
/* #reset-btn:hover{
    color: #FDF0D5;
} */


#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(74, 60, 25);
    color: blanchedalmond;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:  rgb(148, 142, 112);
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.hide{
    display: none;
}